
Hateful Memes paper.pdf

data/submission_format_phase_1.csv

data/XjiOc5ycDBRRNwbhRlgH.zip

.vscode/

dataset/own_features*/
dataset/img/
dataset/*.jsonl
dataset/*.txt
dataset/*.md

papers/

model/__pycache__/

utils/__pycache__/


.ipynb_checkpoints/

data/__pycache__/

train_dev_objects.csv

*.pt

vis_checkpoints/events.out.tfevents.1613731115.1c119543c823.1206.0

model_checkpoints/

*.zip

Untitled.ipynb

*.xz

dataset/view\?usp=sharing
